@use 'vars' as v;
@use 'reset';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

/*Bendri stiliai*/
body{
  font-family: 'Inter', sans-serif;

  // /*TEMPORARY*/
  // margin-bottom: 800px;
}
a{
  color: inherit;
  font-weight: 500;
}

.container{
  padding-left: 32px;
  padding-right: 32px;
}
.padRight0{
  padding-right: 0;
}
.grid{
  display: grid;
}
.relative{
  position: relative;
}

.hiddenMobile{
  display: none;
}
.accent-title{
  color: v.$accent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.section-title{
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  margin-top: 24px;
  margin-bottom: 24px;
  color: v.$dark1;
}

.section-title-light{
  @extend .section-title;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.section-subtitle{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: v.$dark2;
}

.btn{
  margin-top: 32px;
  font-weight: 600;
  font-size: 20px;
  color: v.$dark1;
  background-color: transparent;
  padding: 22px 56px;
  border-radius: 50px;
  border: 4px solid v.$accent;
}

.hr{
  height: 2px;
  background-color: v.$light2;
}

/*HEADER*/
header{
  // position: fixed;
  // z-index: 10; 
  /*nezinau ar reikia daryti pasileikanti headeri todel uzkomentuoju, nes per pc rezoliucija jis labai platus tai tikriausiai not intended */

  width: 100%;
  background-color: v.$light1;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 25px;
  .burger{
    color: v.$dark4;
    font-size: 30px;
  }
}

.navItem{
  color: v.$dark2;
  font-size: 20px;
  font-weight: 400;
  margin-left: 28px;
  text-decoration: none;
}

.nav-signUp{
  color: v.$accent;
}

/*HERO*/
.hero{
  padding-top: 42px;
  padding-bottom: 80px;
  overflow: hidden;
}

.hero-text{
  width: 274px;
}
.heroImg{
  position: absolute;
  width: 430px;
  top:-65px;
  right: -205px;
  z-index: -1;
}

/*UPSELL*/
.upsell{
  background-image: linear-gradient(to right, v.$red, v.$orange);
  height: 326px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
  .section-title{
    padding-top: 122px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .section-subtitle{
    color: v.$dark1;
  }
}


/*PRESS*/
.press{
  margin-top: 64px;
  .grid{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 75px;
    row-gap: 29px;
  }
}

.pressImg{
  max-width: 100%;
  align-self: stretch;
}


/*AUCTION*/
.auction{
  .section-title-light{
    margin-top: 56px;
    margin-bottom: 16px;
  }

  .section-subtitle{
    margin-bottom: 40px;
  }
}

.auction-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  overflow: hidden;
}

.auctionImg{
  vertical-align: middle; /*be sito atsiranda gap tarp img ir details*/
}

.auction-item-details{
  background-color: v.$light2;
  border-radius: 0px 0px 16px 16px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.topbid, .nft-price, .auction-time{
  justify-self: end;
}

.gloop{
  text-transform: uppercase;
  font-size: 12px;
  color: v.$orange;
  margin-bottom: 12px;
}

.topbid{
  @extend .gloop;
  color: v.$dark3;
}

.nft-name{
  font-weight: 500;
  font-size: 20px;
  color: v.$dark1;
  margin-bottom: 12px;
}

.nft-price{
  @extend .nft-name;
}
.eth{
  color: v.$orange;
}
.nft-id{
  color: v.$dark3;
  font-size: 18px;
  font-weight: 400;
}

.auction-time{
  @extend .nft-id;
}

/*SIGNUP*/

.signup{
  margin-top: 92px;
  overflow: hidden;
}

.signup-container{
  display: flex;
  justify-content: space-between;
  gap: 14px;
  overflow: hidden;
  width: 455px;
  height: 630px;
  
  .accent-title{
    margin-top: 64px;
  }

  .section-title{
    margin-top: 24px;
  }

  .btn{
    margin-bottom: 66px;
  }

}

.signupImg{
  height: 467px;
  align-self: flex-end;
}

/*FOOTER*/
.footer{
  margin-bottom: 105px;
}
.footer-section1{
  margin-top: 64px;
  .section-subtitle{
    margin-top: 30px;
    margin-bottom: 32px;
  }
}

.footerIcon{
  font-size: 18px;
  margin-right: 16px;
  color: v.$dark4;
}


.footer-section2{
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}

.footer-section2-list{
  display: flex;
  flex-direction: column;
  color: v.$dark2;

  h3{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

.footer-section3{
  margin-top: 54px;
  color: v.$dark4;
  font-size: 20px;
}


/*MEDIA*/

@media screen and (min-width:1000px){
  .container{
    margin-left: 80px;
    margin-right: 80px;
    padding: 0;
  }

  .burger{
    display: none;
  }

  .header{
    padding: 70px 0px 20px;
  }
  .hiddenMobile{
    display: inline-block;
  }

  .hero{
    display: flex;
    padding-top: 180px;
    padding-bottom: 0px;
  }
  .hero-text{
    width: 45%;
    .section-title{
      font-size: 96px;
      line-height: 116px;
      margin-bottom: 32px;
    }
    .btn{
      margin-top: 41px;
      margin-bottom: 200px;
    }
  }
  .heroImg{
    width: auto;
    right: -400px;
  }
  
  .upsell{
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 16px;

    .container{
      margin: 0;
    }
    
    .section-title-light{
      margin: 0;
      padding-left: 64px;
      padding-top: 154px;
      padding-bottom: 24px;
    }

    .section-subtitle{
      padding-left: 64px;
    }
  }

  .press{
    margin-top: 120px;
    .grid{
      grid-template-columns: repeat(5, 1fr);
      gap: 106px
    }
  }

  .auction{
    margin-top: 120px;

    .section-title-light{
      margin-top: 0;
      margin-bottom: 24px;
    }

    .section-subtitle{
      margin-bottom: 56px;
    }
  }

  .signup{
    margin-top: 120px;
    .accent-title{
      margin-top: 120px;
    }
    .section-title{
      font-size: 56px;
      line-height: 68px;
    }
    .section-subtitle{
      max-width: 537px;
    }
    .btn{
      margin-top: 40px;
      margin-bottom: 120px;
    }
  }
  .signup-container{
    width: auto;
    height: 554px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .signupImg{
    height: auto;
    justify-self: center;
    align-self: end;
  }

  .footer{
    margin-bottom: 71px;

    .container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 120px;
    }
  }

  .footer-section1{
    margin-top: 0;
  }
  .footer-section2{
    grid-template-columns: repeat(4, 1fr);
    gap: 101px;
    margin-right: 30px;
    margin-top: 0;
  }
  .footer-section3{
    margin-top: 120px;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
  }

}